<aside class="sidebar">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
    </div>

    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{- end }}
      </ul>
    </nav>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
<a class="twitter-timeline" data-height="400" data-theme="light" data-link-color="#1D4E56" href="https://twitter.com/PointNineFour?ref_src=twsrc%5Etfw">Tweets by PointNineFour</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</aside>
